@import "./menu.scss";
@import "./title-screen.scss";
@import "./comparison-screen.scss";
@import "./delivery-terms-screen.scss";
@import "./work-stages-screen.scss";
@import "./our-benefits-screen.scss";
@import "./form-screen.scss";
@import "./thankPage.scss";
@import "./footer.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    overflow-x: hidden;

    @media (max-height: 700px) {
        margin-top: 10%;
    }

    #app {
        max-height: 100%;
        max-width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}